[Unit]
Description=Machine Check Exception Logging Daemon
After=syslog.target

[Service]
ExecStartPre=/usr/sbin/modprobe dmi-sysfs
ExecStart=/usr/sbin/mcelog --ignorenodev --daemon --syslog
SuccessExitStatus=0 15
StandardOutput=syslog

[Install]
WantedBy=multi-user.target
